.burger-dropdown {
    display: block;
    position: fixed;
    overflow-x: scroll;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 22px 0px;
    list-style: none;
    background: rgba(53, 53, 53, 0.9);
    box-shadow: 0px 4px 30px rgba(153, 152, 152, 0.12);
    z-index: 10;
    transition-duration: .25s;
}

.burger-menu {
    display: none;
}

.burger-dropdown.active {
    visibility: visible;
    right: 0;
}

.overflow-body {
    overflow: hidden;
}

.burger-btn,
.burger-dropdown-close {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-btn>span {
    top: 50%;
    position: absolute;
}

.burger-btn>span,
.burger-btn>span::after,
.burger-btn>span::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.burger-btn>span::after {
    content: '';
    top: -10px;
}

.burger-btn>span::before {
    content: '';
    top: 10px;
}


/*.burger-btn.active > span {
	transform: rotate(45deg);
}

.burger-btn.active > span::before {
	transform: rotate(90deg);
	top: 0;
}

.burger-btn.active > span::after {
	display: none;
}*/

.burger-header {
    display: flex;
    justify-content: flex-end;
}

.burger-body .header-row,
.burger-body .header-right,
.burger-body .header-contact,
.burger-body .header-middle-right {
    justify-content: inherit;
}

.burger-body-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.burger-body .header-video-consul::after {
    content: none;
}

.burger-body .header-contact a,
.burger-body .header-contact p,
.burger-body .header-video-consul a {
    color: #fff;
}

.header-account-wrap {
    display: flex;
    align-items: center;
}

.header-account-item {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FBBE2F;
    border-radius: 10px;
    padding: 12px 12.5px;
}

.header-account-item a {
    font: normal normal 18px/23px Futura PT;
    color: #fff;
    text-decoration: none;
}

.header-account-item.active {
    background: #007B4B;
    border: 2px solid #007B4B;
}

.header-account-item {
    margin-right: 20px;
}

.header-account-item:last-child {
    margin-right: 0;
}

.burger-search {
    width: 100%;
    position: relative;
}

.burger-search .search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger-search input {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.burger-body {
    margin-top: 40px;
}

.burger-menu .menu {
    list-style-type: none;
    padding: 0;
}

.burger-menu a {
    font-size: normal normal 14px/18px Futura PT;
    color: #fff;
}

.burger-menu .menu>li {
    margin-bottom: 20px;
}

.burger-menu .menu>li:last-child {
    margin-bottom: 0;
}

.menu-line {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.menu-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: #fff;
}

@media screen and (max-width: 1250px) {
    .all-news-row .nav-pills {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .header-right,
    .header-middle,
    .header-bottom {
        display: none;
    }
    .container {
        padding: 0px 20px;
    }
    .footer-top {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer-top-item {
        width: 30%;
    }
    .services {
        padding-top: 20px;
    }
    .tab-block-wrap,
    .tab-content-item-wrap {
        flex-wrap: wrap;
    }
    .tab-block-wrap .v-pills-tabContent {
        width: 100%;
    }
    .tab-content-item-wrap,
    .tab-content-wrap,
    .tab-block-wrap>.nav-pills {
        width: 100%;
    }
    .tab-content-item {
        margin-bottom: 20px;
    }
    .tab-content-item:last-child {
        margin-bottom: 0;
    }
    .survey-quiz .input-group {
        flex-wrap: nowrap;
    }
    .all-news-section {
        padding: 20px 0px 30px 0px;
    }
    .burger-menu {
        display: block;
    }
}

@media screen and (max-width: 1100px) {
    .tab-content-item {
        max-width: 100%;
        width: 100%;
    }
    /* .contact-map-filter {
        position: inherit;
    } */
    .contact-map-row {
        display: block;
        height: auto;
    }
    /* .contact-map-content {
        margin-bottom: 20px;
    } */
    .contacts-map-right-burger {
        display: flex;
    }
    .contacts-map-right {
        top: 100px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }
    .contacts-map-right.active {
        visibility: visible;
        opacity: 1;
    }
    .map-branches-wrap {
        max-height: 300px;
    }
    .contacts-map-right {
        right: 15px;
    }
    .contact-map-filter-title,
    .contacts-map-right-burger {
        font-size: 14px;
    }
    .question-n-answer-section {
        margin-top: 0;
    }
    .video {
        margin-right: 20px;
    }
    .card-wrap {
        padding-bottom: 20px;
    }
    .youtube-item-modal {
        max-width: 80%;
        width: 100%;
        height: 50%;
    }
    .detailed-item:last-child {
        margin-bottom: 10px;
    }
    .information-row {
        margin: 20px 0px 40px 0px;
    }
    .information-stage {
        display: block;
    }
    .information-stage-item svg {
        display: none;
    }
    .information-stage-item svg.information-stage-arrow-mobile {
        display: block;
        margin: 0 auto;
    }
    .information-stage-item,
    .information-stage-circle {
        margin: 40px auto 0px auto;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 990px) {
    .show-all {
        margin-top: 40px;
    }
    .registration-tab {
        justify-content: flex-start;
    }
    .registration-text-block {
        margin-bottom: 30px;
    }
    .registration-form-row .col-sm-12 {
        margin-bottom: 30px;
    }
    .left-menu-dropdown-title {
        justify-content: flex-start;
    }
    .left-menu-dropdown-title svg {
        margin-left: 20px;
    }
}

@media screen and (max-width: 960px) {
    .services-row {
        flex-wrap: wrap;
    }
    .services-first-half,
    .services-second-half,
    .smart_table--th,
    .smart_tr--active .smart_td--first {
        width: 100%
    }
    .sub-services-content h3 {
        font-size: 24px;
    }
    .services-half-item-banner {
        padding: 50px 73px 40px 73px;
    }
    .news-section-first-half,
    .news-section-second-half {
        width: 45%;
    }
    .tabs-menu {
        margin-right: 20px
    }
    .survey-wrap {
        padding: 22px;
    }
    .indicators-section-wrap .tab-pane {
        flex-wrap: wrap;
        padding: 0px 14px;
    }
    .indicators-first-half,
    .indicators-second-half {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }
    .indicators-second-half {
        margin-bottom: 0;
        width: 100%;
    }
    .indicators-box-wrap {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .indicators-box {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .indicators-box-wrap {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .indicators-box {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .publications-filter,
    .table__tabs--info,
    .smart_table--tr {
        flex-wrap: wrap;
    }
    .press-search {
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 840px) {
    .footer-top-item {
        width: 40%;
        margin-right: 22px;
        margin-bottom: 22px
    }
    .footer-bottom,
    .footer-copyright-wrap {
        flex-wrap: wrap;
    }
    .footer-bottom-social,
    .footer-copyright {
        margin-bottom: 20px
    }
    .contact-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .indicators-section-wrap .tabs-menu {
        width: 100%;
        margin-bottom: 20px;
    }
    .horizontal-card-item {
        flex-wrap: wrap;
    }
    .performance-img {
        width: 50%;
        margin-bottom: 20px;
    }
    .performance-item-text {
        width: 100%;
    }
    .table-wrap,
    .table_rad {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 760px) {
    div.sub-services-item img {
        min-height: 300px;
    }
    .services-half-item-banner,
    .sub-services-content {
        padding: 22px;
    }
    .questions_block {
        display: none;
    }
    .contact-map-buttons,
    .press-filter-input-group,
    .block-top {
        flex-wrap: wrap;
    }
    .contact-map-button {
        margin-bottom: 40px;
    }
    .press-filter-input-item {
        margin-bottom: 20px;
    }
    .card-box {
        margin-bottom: 15px;
    }
    .registration-tab-content {
        margin: 15px 5px 15px 5px;
        padding-right: 0;
    }
    .checkbox-label {
        width: auto;
    }
    .information-statistic {
        margin-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    .news-section-wrap {
        flex-wrap: wrap;
    }
    .tabs-menu {
        margin-bottom: 20px;
        width: 100%
    }
    .survey-quiz .form-group {
        width: 100%;
    }
    .block-titles {
        font-size: 24px;
    }
    .indicators-half-title {
        font-size: 18px;
    }
    .news-video-box {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .video,
    .news-video-box .news-box {
        max-width: 100%;
    }
    .events-box {
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .events-date {
        margin-bottom: 20px;
    }
    .contact-map-buttons {
        margin-bottom: 20px;
    }
    .registration-form-button {
        padding: 10px 15px;
        font-size: 14px;
    }
    .video-instruction-section {
        margin-top: 50px;
    }
    .pension-calc-menu .menu {
        display: block;
        text-align: left;
    }
    .pension-calc-menu li {
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .form-number-group {
        flex-wrap: wrap;
    }
    .form-number-group input,
    .registration-form-input-group span {
        margin-bottom: 10px;
    }
    .block-titles {
        line-height: 32px;
    }
    .smart_th--first,
    .smart_td--first {
        min-width: 200px;
    }
    .smart_table--body .smart_table--main {
        overflow: visible;
    }
    ol {
        margin: 0 0 0 5px;
    }
}

@media screen and (max-width: 480px) {
    .burger-dropdown {
        width: 100%
    }
    .sub-services-next,
    .sub-services-prev {
        width: 30px;
        height: 30px;
    }
    .sub-services-button {
        margin-right: 10px
    }
    .logo {
        max-width: 150px;
    }
    .logo img {
        width: 100%
    }
    .footer-top-item {
        width: 100%;
    }
    .news-section-half-wrap {
        flex-wrap: wrap;
    }
    .news-section-first-half,
    .news-section-second-half {
        width: 100%
    }
    .news-section-first-half {
        margin-bottom: 30px;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 30px;
    }
    .services-item h3,
    .services-half-item p {
        font-size: 16px;
    }
    .services-item img {
        width: 40px;
        height: 40px;
    }
    .services-half-item h3 {
        font-size: 24px;
    }
    .footer-subscribe input {
        margin-bottom: 20px
    }
    .social-menu {
        flex-wrap: wrap;
    }
    .social-menu li {
        margin-bottom: 20px
    }
    .footer-bottom-social {
        margin-bottom: 0
    }
    .contact-map-button button,
    .contact-map-button a {
        font-size: 14px;
        padding: 6px;
    }
    .tab-content-item-heading p,
    .tab-content-item-body p,
    .map-search-title,
    .branch-name,
    .map-your_city-title {
        font-size: 16px;
        line-height: 22px;
    }
    .contact-map-filter {
        left: 10px;
    }
    .contacts-map-right-burger {
        right: 10px;
    }
    .map-search-form input {
        font-size: 12px;
    }
    .contacts-map-right {
        right: 0;
    }
    .contact-map-button {
        margin-bottom: 20px;
    }
    .performance-img {
        width: 100%;
    }
    .services-first-half .services-item {
        height: 220px;
    }
    .information-doc {
        align-items: flex-start;
    }
    ol,
    .information-accordion-body p {
        font-size: 14px;
    }
    .table__tabs--info {
        padding: 15px 25px;
    }
    .accordion-info-title-left {
        align-items: flex-start;
        font-size: 14px;
    }
}